.header{
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    justify-content: space-around;
    padding: 35px 0;

    .logo{
        h2{
            color: white;
            font-size: 50px;
        }
    }
    .links{
        display: flex;
        gap: 20px;
        align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
        li{
            color: white;
                padding: 25px 10px;
                font-size: 18px;
                opacity: .7;
                transition: .3s;
                cursor: pointer;

                &.active,
                &:hover{
                    opacity: 1;
                    }
                
            }
        }
        .profile{
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;
            h4{
                a{
                color: white;
                opacity: .7;
                transition: .3s;
                font-size: 18px;
                font-weight: normal;
                &:hover{
                    opacity: 1;
                }
            }
            }
            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

    }
    i{
        font-size: 18px;
        width: 25px;
        color: white;
        cursor: pointer;
    }
    &.light{
        background-color: white; 
        .logo{
            h2{
                color: black;
            }
        }
        .links{
             ul{
                li{
                    color: black;
                    a{
                        color: black;
                        }
                }
            }
            .profile{
                h4{
                    a{
                        color: black;
                    }
                }
                img{
                    border-radius: 50%;
    
                }
            }
        }
        i{
            color: black;
        }

    }
}