<div class="regesiter" [class.light]="!darkTheme">
    <div class="title" *ngIf="!loading">
        <h2>Create A New Account</h2>
    </div>
    <form action="" [formGroup]="regesiterForm" (submit)="regestier()" *ngIf="!loading">
        <div>
        <input type="text" placeholder="firstName" formControlName="firstname">
        <span *ngIf="this.regesiterForm.get('firstname')?.invalid&&this.regesiterForm.get('firstname')?.touched">The number of characters must be at least 3 characters</span>
        <span *ngIf="this.regesiterForm.get('firstname')?.errors?.['containNumber']&&this.regesiterForm.get('firstname')?.touched">It must not contain any numbers</span>
    </div>
    <div>
        <input type="text" placeholder="lastname" formControlName="lastname">
        <span *ngIf="this.regesiterForm.get('lastname')?.invalid&&this.regesiterForm.get('lastname')?.touched">The number of characters must be at least 3 characters</span>
        <span *ngIf="this.regesiterForm.get('lastname')?.errors?.['containNumber']&&this.regesiterForm.get('lastname')?.touched">It must not contain any numbers</span>

    </div>
    <div>
        <input type="email" placeholder="email" formControlName="email">
        <span *ngIf="this.regesiterForm.get('email')?.invalid&&this.regesiterForm.get('email')?.touched">Invalid email</span>

    </div>
    <div>
        <input type="password" placeholder="password" formControlName="password">
        <span *ngIf="this.regesiterForm.get('password')?.invalid&&this.regesiterForm.get('password')?.touched">invalid password must be at least 8</span>
        <span *ngIf="this.regesiterForm.get('password')?.errors?.['passwordError']&&this.regesiterForm.get('password')?.touched">must contain at least 1 number and 1 uppercase character and 1 lowercasr character</span>

    </div>
        <textarea name="" id="" placeholder="about" formControlName="about"></textarea>
        <button [disabled]="this.regesiterForm.invalid">Create</button>
    </form>
    <a href="" routerLink="/login" *ngIf="!loading">i already has an account, login</a>
    <app-spinner *ngIf="loading"></app-spinner>
    <div><h4 [class.success]="loading">Congratulations, a new account has been successfully registered</h4></div>
</div>