<div class="author" [class.light]="!darkmode">
    <div class="profilebox">
        <img [src]="data?.imgUrl" alt="">

    <div class="about">
        <h2 class="name">{{data?.firstname}} {{data?.lastname}}</h2>
        <h4><span>{{Articles.length}}</span> article</h4>
        <p>{{data.about}}</p>
             <button routerLink="/createArticle">
                Create A New Article
            </button>
    </div>
</div>
<section class="bloglist">
    <div class="title"><h3>Your Articles</h3></div>
    <div class="articles">
        <div class="article"*ngFor="let Article of Articles">
            <ng-container  *ngIf="Articles?.length">
            <img [src]="Article.img" alt="" >
            <div class="articlecontent">
                <div class="date"><i class="fa-regular fa-calendar"></i> <p>may 25 , 2022</p></div>
                <div class="title">
                    <h4><a href="" routerLink="/details/{{Article?.id}}">{{Article.title}}</a></h4>
                </div>
                <div class="content">
                    <p>{{Article.description}}</p>
                </div>
            </div></ng-container>
        </div>
    </div>
    <h2 *ngIf="!Articles?.length">you do not have any article yet</h2>
</section>


</div>
