.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--surface);
    padding: 20px;
    margin: 0 50px;
    border-radius: 20px;
    color: white;
    h1{
        font-size: 70px;
        width: 1050px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 170px;
      
    }  
    .articleDetails{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-self: start;
        margin-left: 188px;
        margin-top: 50px;
        align-items: center;
        h3.date{
            opacity: .7;
            display: flex;
            gap: 5px;
            font-size: 15px;
        }
        div{
            display: flex;
            gap: 10px;
            h3{
                opacity: .7;
            }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            }
        }
    }
    img.cover{
        padding:100px 0 70px;
        max-width: 1150px;
    }
    p{
        margin: 0 100px 80px 110px;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 36px;
        align-self: flex-start;
    }
    ul{
        display: flex;
        gap: 20px;
        align-self: start;
        margin-left: 120px;
        li{
            padding: 10px 10px;
            font-size: 12px;
            border-radius: 5px;
            background: var(--background);
            opacity: .7;
            cursor: pointer;
        }
    }
    &.light{
        background-color: var(--on-surface);
        color: black;  
        ul{
            li{
                padding: 10px 10px;
                font-size: 12px;
                border-radius: 5px;
                background: black;
                color: white;
            }} 
    }

}